@layer components {
  /*** Buttons ***/
  .btn-sm { @apply uppercase tracking-wider rounded drop-shadow text-sm px-2; }
  .btn-md { @apply uppercase tracking-wider rounded drop-shadow text-base leading-none py-2 px-4; }
  .btn-lg { @apply uppercase tracking-wider rounded drop-shadow text-xl leading-none py-2 px-4; }

  .btn-red { @apply bg-red-400 text-lemon-500; }
  .btn-teal { @apply text-peach-300 bg-teal-500; }

  /*** Footer Links ***/
  .footer a {
    @apply text-peach-300 font-medium tracking-wider hover:text-red-300 hover:no-underline;
  }

  /*** Nav Drawer ***/
  .drawer-overlay {
    @apply absolute top-0 left-0 w-screen h-full invisible opacity-0 flex flex-col z-100;
    transition: opacity 150ms ease-in, visibility 0ms ease-in 150ms;

    .drawer-overlay-top {
      @apply h-20;
    }
    .drawer-overlay-bottom {
      @apply flex-1 bg-black/30;
    }
    &.show {
      @apply visible opacity-100;
      transition: opacity 150ms ease-in, visibility 0ms ease-in 0ms;
    }
  }

  .drawer {
    @apply absolute top-0 left-0 w-screen sm:w-80 h-full z-200 flex flex-col;
    @apply -translate-x-full;
    transition: transform 150ms ease-in-out;
    &.show {
      @apply translate-x-0;
      transition: transform 150ms ease-in-out;
    }
  }

  .drawer-inner-top {
    @apply h-16 sm:h-24 md:h-32;
  }

  .drawer-inner {
    @apply bg-gradient-to-b from-peach-500 to-lemon-500 p-6 flex-1;
  }

  /*** forms ***/
  .form-input {
    @apply rounded w-full p-2 text-sm border border-teal-400 text-gray-900 focus:border-teal-300 focus:outline-none focus:ring-teal-300 focus:ring-2;
  }
}

/*** Swiper -> CSS need to be outside of layer ***/

.swiper-arrow {
  @apply h-8 absolute top-1/2 -translate-y-4 text-3xl text-teal-500;
  &.swiper-button-disabled {
    @apply text-teal-500/20;
  }
}

.swiper-pagination-bullets {
  @apply flex gap-2 h-3 justify-center;
}
.swiper-pagination-bullet {
  @apply block bg-teal/20 w-2 h-2 rounded-full;
  &.swiper-pagination-bullet-active {
    @apply bg-teal-500;
  }
}

