@layer components {
  /*** Buttons ***/
  .btn-sm { @apply uppercase tracking-wider rounded drop-shadow text-sm px-2; }
  .btn-red { @apply text-peach-300 bg-red-400; }

  /*** Footer Links ***/
  .footer a {
    @apply text-peach-300 font-medium tracking-wider hover:text-red-400;
  }

  /*** Nav Drawer ***/
  .drawer-overlay {
    @apply absolute top-0 left-0 w-screen min-h-screen bg-black/30 invisible opacity-0;
    transition: opacity 150ms ease-in, visibility 0ms ease-in 150ms;
    &.show {
      @apply visible opacity-100;
      transition: opacity 150ms ease-in, visibility 0ms ease-in 0ms;
    }
  }

  .drawer {
    @apply absolute top-0 left-0 w-screen sm:w-80 min-h-screen bg-white;
    @apply -translate-x-full;
    @apply bg-gradient-to-b from-peach-500 to-lemon-500;
    transition: transform 150ms ease-in-out;
    &.show {
      @apply translate-x-0;
      transition: transform 150ms ease-in-out;
    }
  }


}
