.tooltip-text {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  @apply absolute left-0 bottom-full bg-gray-900 text-white px-[5px] py-[3px] rounded-md z-2000 -translate-y-2;
}

.ReactCollapse--collapse {
  transition: height 200ms;
}

.article-card {
  @apply bg-white/60 rounded-xl py-4 px-2 pb-2 cursor-pointer shadow-md w-full mx-auto relative;
}

.article-card-inner {
  &.close {
    @apply translate-y-0 transition-all duration-200 ease-out;
  }
  &.open {
    @apply -translate-y-10 transition-all duration-200 ease-in;
  }
}

.card-content {
  @apply text-center;
  &.close h2 {
    @apply text-nowrap;
  }
  &.open h2 {
    @apply text-wrap;
  }
}

.image-box {
  @apply rounded-lg relative aspect-[4/3] overflow-hidden;
}
.badge-user {
  @apply bg-white/80 uppercase text-xs px-2 rounded-full flex items-center justify-center;
}
.badge-trade-option {
  @apply bg-white/80 px-1 py-1 text-sm rounded-full flex items-center justify-center relative;
  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}
