/* General styles for grid layout */
.grid {
  gap: 16px; /* Adjust the gap between grid items */
  display: grid;
  justify-items: center; /* Center items horizontally */
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(
      2,
      minmax(0, 1fr)
    ); /* Two columns on medium screens */
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(
      3,
      minmax(0, 1fr)
    ); /* Three columns on large screens */
  }
}

@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(
      4,
      minmax(0, 1fr)
    ); /* Four columns on extra-large screens */
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  padding: 8px 12px;
  background-color: #fcaa72;
  border: 1px solid #ccc;
  color: #333;
}

.articles-per-page {
  margin-left: auto; /* Align articles per page dropdown to the right */
  display: flex;
  align-items: center;
  font-size: 0.625rem;
}

.articles-per-page select {
  font-size: 0.875rem;
}

.search-bar {
  flex-grow: 1;
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  font-size: 0.875rem;
}

/* Mobile view styles */
@media (max-width: 640px) {
  .filters-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .filters-wrapper > div {
    margin-bottom: 1rem;
  }
}
